button{
    background: none;
    border: none;
    padding: 5px;
    border-radius: 15px;
    transition:all 0.2s ease;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px ;
    display: flex;
    align-items: center;
    gap: 5px;
}

