button{
    width: 100%;
    background: none;
    border: none;
    padding: 5px 6px;
    border-radius: 10px;
    transition:all 0.2s ease;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.1em;
    display: flex;
    align-items: center;
    gap: 5px;
}

