<div class="main">
    <div class="body">
        <app-header/>
        <app-contain class="container">
        <div class="list-containter">
            @for (item of columns$ |async; track item.id) {
                <app-column [column]="item"/>
            }
   
     
           
           @if (isCreateColumn) {
            <app-create-column (onClose)="isCreateColumn = false"/>
           } @else {
             <app-create-column-button [attr.data-create]="true"  (onClick)="isCreateColumn = true"/>
           }
           
          
        </div>
        </app-contain>
        
    </div>
    <div class="bg-image">
        <img [src]="apiUrl +  '/static/board-back/' + (board$ | async)?.image" alt="bg-image">
    </div>
</div>