.tags {
  width: 240px;
  padding: 16px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }
 .close{
    cursor: pointer;
        display: flex;
  align-items: center;
 }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    .tag-item {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      gap: 10px;
      .tag-color {
        background-color: #4cc98f; 
        flex: 1 1 auto;
        height: 24px;
        border-radius: 4px;
      }

    }
  }


}

