

.card{
    width: 284px;
    overflow: hidden;
    background:var(--background-color);
    font-size: 14px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
   border: 2px solid transparent;
  
    @media (any-hover: hover) {
        &:hover {
           border: 2px solid var(--primary-color);
           .closed{
             width: 30px;
             pointer-events: visible;
           }

         
        }
    }
}


.info{
    display: flex;
    margin-bottom: 5px;
}

.closed{
    width: 0px;
    pointer-events: none;
    overflow: hidden;
    transition: all ease 0.3s;
    span{
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid var(--grey-color);
    }
}