.body{
    display: flex;
    align-items: center;
    gap: 5px;
}

.data{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: var(--light-orange-color);
    color: var(--dark-orange-color);
    padding: 5px;
}