.body{
    display: flex;
    align-items: center;
    gap: 5px;
}

.data{
    display: flex;
    align-items: center;
    border-radius: 5px;
    background: #f7c8ba;
    color: #50281c;
    padding: 5px;
}