/* You can add global styles to this file, and also import other style files */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --grey-color:#cacaca;
  --dark-grey-color:#999898;
  --dark-orange-color:#50281c;
  --light-orange-color:#f7c8ba;
  --primary-color: #007bff;
  --secondary-color: #2e91fa;
}

html, body { height: 100%; }
body { margin: 0; font-family: 'Inter', "Helvetica Neue", sans-serif;  overflow: hidden;}

.material-icons {
  font-size: 1.2em;     
  font-weight: inherit;   

}

ul, ul li {
	list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
