<div   [ngStyle]="{'backgroundColor':column.color}"  class="main">
    <div class="body">
        <app-header [column]="column"/>
        <div class="cards">
            @for (item of cards$ | async ; track item.id) {
                <app-card  [card]="item"/>
            }
            @if ((selectedColumnId$ | async) === column.id) {
                 <app-create-card [listID]="column.id"/>
            } @else {
                 <app-create-card-button  [column]="column"/>
            }
            
    
       
        </div>
    </div>
</div>