<div class="main">
    <app-contain>
            <div class="body">
        <div class="logo">
            <div class="logo__image">
                <img src="/logo.svg" alt="logo">
            </div>
            <div class="logo__name">Kanban</div>
        </div>
        <div class="search">
              <app-search/>
              <app-my-button-filled>Создать</app-my-button-filled>
        </div>
      <div class="user">
        <span class="material-icons">person</span>
      </div>
    </div>
    </app-contain>

</div>